.product-list {
  display: flex;
  justify-content: center;
  width: 100%;
}

.product-cards {
    display:flex;
    flex-wrap: wrap;
    gap: 2em; /* Space between cards */
    justify-content: center;
    width: 100%;;
    max-width: 1200px; /* Limit the maximum width of each card */
    margin: 0 auto; /* Center the cards in the container */
    padding: 2em 2em;
    background: linear-gradient(120deg, #f3d398 0%, #e6c067 100%);

    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 200ms, box-shadow 200ms;
}

@media (max-width: 800px) {
  .product-cards {
    flex-direction: column; /* Stack cards vertically on small screens */
    align-items: center;
    gap: 1em; /* Reduce space between cards */
    max-width: 100%; /* Allow cards to take full width on small screens */
  }
}
